@model IEnumerable<Event>
@{
    ViewData["Title"] = "Index";
   
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial", "event")))
<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (Event event1 in Model)
            {
                @(await Html.PartialAsync("_EventPartial", event1))
            }


        </div>
    </div>
</div>
<!-- Event End -->
