@model IEnumerable<Teacher>
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
@(await Html.PartialAsync("_BannerPartial", "our teachers")))
<!-- Banner Area End -->
<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row mt-100">
            @foreach (Teacher teacher in Model)
            {
                @(await Html.PartialAsync("_TeacherPartial", teacher))
            }

        </div>
    </div>
</div>

<!-- Teacher End -->
