@model Banner

<div class="single-blog-widget">

    <div class="single-blog-banner">

        <a asp-controller="blog" asp-action="detail" id="blog">
            <img width="100" src= "~/img/banner/@Model.Image" alt="blog">
        </a>
            <h2>@Html.Raw(Model.Title)</h2>

    </div>

</div>