@model Settings

<div class="single-blog-widget">

    <div class="single-blog-banner">

        <a asp-controller="blog" asp-action="detail" id="blog">
            <img width="100" height="auto" src= "~/img/banner/@Model.Value" alt="blog">
        </a>
            <h2> best <br> eductaion <br> theme </h2>

    </div>

</div>