@model Course

<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="single-course mb-70">
        <div class="course-img">
            <a asp-controller="course" asp-action="detail">
                <img src="~/img/course/@Model.Image" alt="course">
                <div class="course-hover">
                    <i class="fa fa-link"></i>
                </div>
            </a>
        </div>
        <div class="course-content">
            <h3><a asp-controller="course" asp-action="detail">@Model.Name</a></h3>
            <p>@Model.Description.Substring(0, 80)</p>
            <a class="default-btn" asp-controller="course" asp-action="detail">read more</a>
        </div>
    </div>
</div>
