@model AboutEduHome
<div class="col-md-6 col-sm-6">
    <div class="about-content">
        <h2>@Html.Raw(Model.Title)</h2>
        <p>@Model.Description</p>
        @*<a class="default-btn" href="@Model.Link">buy now</a>*@
    </div>
</div>
<div class="col-md-6 col-sm-6">
    <div class="about-img">
        <img src="~/img/about/@Model.Image" alt="about">
    </div>
</div>