@model IEnumerable<CourseVM>

@foreach (CourseVM course in Model)
{
    <li>
        <div class="row">
            <div class="col-lg-6">
        <img width="100" src="~/img/course/@course.Image" alt="Alternate Text" />
                </div>
            <div class="col-lg-6">
        <a href="#">@course.Name</a>

            </div>
        </div>
    </li>

}