@model Testimonial
<div class="col-md-8 col-md-offset-2 col-sm-12">
    <div class="single-testimonial">
        <div class="testimonial-info">
            <div class="testimonial-img">
                <img src="~/img/testimonial/@Model.Image" alt="testimonial">
            </div>
            <div class="testimonial-content">
                <p>@Model.Description</p>
                <h4>@Model.Author</h4>
                <h5>@Model.Position.Name</h5>
            </div>
        </div>
    </div>
</div>
