@model IEnumerable<TeacherVM>
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row mt-100">
            @foreach (TeacherVM teacher in Model)
            {
                @(await Html.PartialAsync("_TeacherPartial", teacher))
            }

        </div>
    </div>
</div>
