
@{
    ViewData["Title"] = "Index";
}
<!-- Background Area Start -->
<section id="slider-container" class="slider-area three">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
     @await Component.InvokeAsync("Slider")

        <!-- End Slingle Slide -->

    </div>
</section>
<!-- Background Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
                @(await Component.InvokeAsync("Course"))
           

        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@(await Component.InvokeAsync("NoticeBoard"))
<!-- Notice End -->
<!-- About Start -->
<div class="about-area pb-135 pt-130 bg-light">
    <div class="container">
        <div class="row">
            @(await Component.InvokeAsync("About"))

       </div>
    </div>
</div>
<!-- About End -->
<!-- Event Area Start -->
<div class="event-area three text-center pt-100 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
          @await Component.InvokeAsync("Event")

        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area three pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">

            <div class="testimonial-owl owl-theme owl-carousel">
              @await Component.InvokeAsync("Testimonial")
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
          @await Component.InvokeAsync("Blog") 
        </div>
    </div>
</div>
<!-- Blog Area End -->